
/* root */
:root{
    --main-color:#B17A60;
    --pink-color:#F79497;
}


/* font */

/* dongle */
@font-face {
    font-family: 'Dongle';
    font-weight: 300;
    src: url('../font/Dongle-Light.ttf') format('ttf'),
    url('../font/Dongle-Light.woff') format('woff');
}

@font-face {
    font-family: 'Dongle';
    font-weight: 500;
    src: url('../font/Dongle-Regular.ttf') format('ttf'),
    url('../font/Dongle-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Dongle';
    font-weight: 700;
    src: url('../font/Dongle-Bold.ttf') format('ttf'),
    url('../font/Dongle-Bold.woff') format('woff');
}


/* Gmarket */
@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    src: url('../font/GmarketSansLight.ttf') format('ttf'),
    url('../font/GmarketSansLight.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 500;
    src: url('../font/GmarketSansMedium.ttf') format('ttf'),
    url('../font/GmarketSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
    font-weight: 700;
    src: url('../font/GmarketSansBold.ttf') format('ttf'),
    url('../font/GmarketSansBold.woff') format('woff');
}


/* nanumsqure */

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url('../font/NanumSquareL.ttf') format('ttf'),
    url('../font/NanumSquareL.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 500;
    src: url('../font/NanumSquareR.ttf') format('ttf'),
    url('../font/NanumSquareR.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 600;
    src: url('../font/NanumSquareB.ttf') format('ttf'),
    url('../font/NanumSquareB.woff') format('woff');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url('../font/NanumSquareEB.ttf') format('ttf'),
    url('../font/NanumSquareEB.woff') format('woff');
}



/* scdream5 */
@font-face {
    font-family: 'SCDream5';
    src: url('../font/SCDream5.woff') format('woff'),
    url('../font/SCDream5.ttf') format('ttf'),
    url('../font/SCDream5.otf') format('otf');
}


.section_wrapper{
    max-width:1920px;
    width: 100%;

}

.se_wrapper{
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}


/* common */
.mb-45{margin-bottom: 45px;}
.mt-85{margin-top: 85px!important;}
.mt-100{margin-top: 100px!important;}

/* section01 */


.section01{
    background: url('../img/back01.jpg') no-repeat;
    height: 1080px;

}

.se01{
    padding: 230px 0 70px;
    box-sizing: border-box;
}
.se01_sub{

    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sub_logo{
    width: 198px;
    height: 65px;
    margin-right: 15px;
}

.sub_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.se01_sub p{
    width: 302px;
    height: 52px;
    background: #B17A60;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.03em;
    font-size: 25px;
    font-weight: 700;
    font-family: 'GmarketSans',sans-serif;
    color: #fff;
}

.seo01_title{
    font-family: 'Dongle',sans-serif;
    font-weight: 500;
    font-size: 150px;
    color: var(--main-color);
    letter-spacing: -0.03em;
}

.seo01_title_two{
    font-family: 'Dongle',sans-serif;
    font-weight: 500;
    font-size: 120px;
    color: var(--main-color);
    letter-spacing: -0.03em;
    margin-top: -4%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.seo01_title_two span{
    margin: 0 1.5rem;
}
.section_descript{
    font-size: 25px;
    line-height: 35px;
    font-family: 'GmarketSans';
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #000;
}

.donation_link{
    width: 560px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pink-color);
    color: #fff;
    font-family: 'GmarketSans';
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-decoration: none;
    margin: 45px auto 0;
}


@keyframes roll {
    from {
        transform: translateY(40%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  

  #rollingText.animate-text {
    animation: roll 0.5s ease-in-out;
}

/* section02 */

.section02{
    height: 1340px;
    background: url('../img/back03.jpg') no-repeat;
}

.se02{
    padding: 76px 0 96px;
    box-sizing: border-box;
    height: 100%;
}
.postit_wrapper{
    width: 100%;
    position: relative;
    height: 1123px;
}

.ex_text{
    font-family: 'GmarketSans';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.postit {
    position: absolute;
}
.postit p{
    font-family: 'SCDream5';
    font-size: 23px;
    line-height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.postit01{
    background:url('../img/post04.png') no-repeat;
    width: 438px;
    height: 438px;
    background-size: contain;
    box-sizing: border-box;
    left: 64px;
    top: 0;

}

.postit01 p{
    transform: rotate(358deg);
    padding-top: 20px;
}

.postit02{
    background: url('../img/post05.png') no-repeat;
    width: 450px;
    height: 450px;
    background-size: contain;
    box-sizing: border-box;
    top: 0;
    right: 0;

}

.postit02 p{
    transform: rotate(10deg);
    padding-top: 20px;
}

.postit03{
    background:url('../img/post02.png') no-repeat;
    width: 400px;
    height: 400px;
    background-size: contain;
    box-sizing: border-box;
    left: 0;
    top: 31%;
    z-index: 1;
}

.postit03 p{
    transform: rotate(7deg);
    padding-top: 20px;
}

.postit04{
    background: url(../img/post03.png) no-repeat;
    width: 380px;
    height: 380px;
    background-size: cover;
    box-sizing: border-box;
    top: 39%;
    right: 0;
}

.postit04 p{
    transform: rotate(354deg);
}

.postit05{
    background:url('../img/post01.png') no-repeat;
    width: 390px;
    height: 390px;
    background-size: contain;
    box-sizing: border-box;
    top: 58%;
    left: -13px;
}

.postit05 p{
    transform: rotate(-9deg);
    padding-top: 20px;
}

/* section03 */

.section03{
    height: 1340px;
    background: url('../img/back04.jpg') no-repeat;
}

.se03{
    padding: 123px 0 96px;
    box-sizing: border-box;
    height: 100%;
}


.se_title_co{
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -0.03em;
    font-family: 'Dongle';
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
}

.se_sub_co{
    font-size: 25px;
    letter-spacing: -0.03em;
    line-height: 50px;
    font-family: 'GmarketSans';
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

/* section04 */

.section04{
    height: 1340px;
    background: url('../img/back05.jpg') no-repeat;
}

.se04{
    padding: 120px 0 130px;
    box-sizing: border-box;
    height: 100%;
}

.se04_slide{
    width: 944px;
    margin: 0 auto;
}


.slick-prev,
.slick-next {
    background: transparent;
    border: none; 
    cursor: pointer;
    font-size: 0;
}

.slick-prev {

    width: 48px;
    height: 40px;
    position: absolute;
    left: -6%; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1;
    background-size: contain;
}

.slick-next {

    width: 48px;
    height: 40px;
    position: absolute;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
}

.slick-next  img,
.slick-prev img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* section05 */
.section05{
    height: 1080px;
    background: url('../img/back07.jpg') no-repeat;
}

.se05{
    padding: 150px 0 140px;
    box-sizing: border-box;
    height: 100%;
}

.se_step_list{
    display: flex;
    align-content: center;
    column-gap: 88px;
    margin-top: 90px;
    position: relative;
}

.se_step_list::after{
    position: absolute;
    content: '';
    top: 38%;
    transform: translate(0,-50%);
    border-top: 2px dashed var(--pink-color);
    width: 100%;
}

.se_step_list .se_step{
    position: relative;
}

.step_number{
    font-size: 25px;
    letter-spacing: -0.03em;
    line-height: 35px;
    font-weight: 700;
    font-family: 'GmarketSans';
    position: absolute;
    left: 19%;
    top: 0;
    color: var(--main-color);
    z-index: 2;
}

.se_step_list .se_step .step_ico{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.se_step_list .se_step .step_ico img {
    width: 138px;
    height: 138px;
    object-fit: contain;
    object-position: 73%;
}

.step_descript{
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 23px;
    font-weight: 500;
    font-family: 'GmarketSans';
    text-align: center;
    margin-top: 20px;
    color: var(--main-color);
}

.se_step_list .se_step:first-child .step_ico::before{
    display: none;
}

.se_step_list .se_step:last-child .step_ico::after{
    display: none;
}

.se_step_list .step_ico::before{
    position: absolute;
    content: '';
    top: 50%;
    left: -5px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--pink-color);
}


.se_step_list .step_ico::after{
    position: absolute;
    content: '';
    top: 50%;
    right: -5px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--pink-color);
}

/* section06 */
.section06{
    height:700px;
    background: url('../img/back06.jpg') no-repeat;
}

.se06{
    padding: 150px 0;
    height: 100%;
    box-sizing: border-box;
}


.se_sub_co span{
    font-weight: 700;
}
/* section07 */

.section07{
    height:1080px;
    background: url('../img/back02.jpg') no-repeat;
}

.se07{
    padding: 100px 0;
    height: 100%;
    box-sizing: border-box;
}


.accordion{
    margin-top: 80px;
}
.accordion-item {
    padding:15px 0;
    margin: 0;
    overflow: hidden;
}

.accordion-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.03em;
    cursor: pointer;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    background-color: #fff;
    color: var(--main-color);
    padding: 0 30px;
    font-family: 'GmarketSans';
    box-sizing: border-box;
}

.accordion-item .title img {
    font-size: 0.9rem;
    color: #454545;
    transform: rotate(0);
    transition: transform 0.15s ease;
}

.accordion-item .paragraph {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -0.03em;
    color: #000;
    display: none;
    padding: 50px 70px 35px;
    list-style: inside;
    line-height: 50px;
    font-family: 'GmarketSans';
}

.accordion-item .paragraph .indent{
    text-indent: 1rem;
}


.accordion-item .paragraph span{
    font-weight: bold;
}

.accordion-item.active .title img{
    transform: rotate(180deg);
}

.accordion-item.active .paragraph {
    display: block;
}


/* section08 */

.section08{
    height:378px;
    background: url('../img/banner.jpg') no-repeat;
}
.se08{
    position: relative;
    height: 100%;
}

.se08_postion{
    position: absolute;
    top: 80px;
    left: 50%;
}

.se08_title{
    font-family: 'NanumSquare';
    font-weight: 600;
    font-size: 23px;
    letter-spacing: -0.05em;
    line-height: 50px;
    position: relative;
}

.se08_title::before{
    position: absolute;
    content: '';
    top: -7px;
    width: 32px;
    height: 3px;
    background-color:#543F2C;
    left: 0;
}

.se08_descript{
    font-family: 'NanumSquare';
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: -0.06em;
}

.more_btn{
    margin-top: 38px;
    width: 150px;
    height: 40px;
    background: #543F2C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.more_btn p{
    font-family: 'NanumSquare';
    font-weight: 500;
    font-size: 18px;
    color: #fff;

}

.more_btn svg{
    fill: #fff;
}